/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* header style */

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 150px;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}
nav > ul{
    display: flex;
    
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color:  #424242;
}
.nav-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #131313;
    
}

/* banner style */
.banner-content{
    width: 600px;
    text-align: center;
    margin: 0 auto;
    
}
.banner-title{
    color: #131313;
    font-weight: 700;
}
.banner-text{
    color: #727272;
    font-size: 0.6rem;
    margin-bottom: 20px;
}
.btn-primary{
width: 110px;
height: 40px;
border-radius: 8px;
background: #FF900E;
color: #FFF;
border: none;
margin-bottom: 32px;
padding: 10px;
cursor: pointer;
}
.banner-img{
    width: 100%;
}
/* main section */

main{
    max-width: 1440px;
    margin:0 auto;
}
.tems-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
}
.team-content{
    padding-left: 70px;
    padding-right: 70px;
}
.team-title{
    font-size: 2.8rem;
}
.quick-list{
    color: #727272;
    font-weight: 500;
}
.text-feature{
    color: #FF900E;
    font-weight: 700;
}

/* responsive */

@media screen and (max-width: 576px) {
    header{
        padding: 30px;
    }
    nav{
        flex-direction: column;
    }
    
    }
        
    
@media screen and (min-width:576px) and (max-width:960px) {
    nav{
        flex-direction: column;
    }

}